version: '3'
services:
  app:
    build: .
    working_dir: /blog
    command: hugo server -v --bind "0.0.0.0" --port 5000 --watch --gc --cleanDestinationDir -D -E -F
    user: "1000:1000"
    ports:
      - "5000:5000"
    volumes:
      - .:/blog
      - /home/alexandre/workspace/alexandrevicenzi/iara:/blog/themes/iara
