<hr>
<footer class="footer">
  <div>
    <div class="col-md-offset-1 col-md-2 text-center">
      <p>Junte-se ao nosso Slack</p>
      <ul class="contact-list slackin">
        <script async defer src="{{ site.slackin }}/slackin.js"></script>
      </ul>
    </div>

    <div class="col-md-offset-1 col-md-3">
      <ul class="social-list">
        {% if site.slack_username %}
        <li>
          <i class="fa fa-slack"></i> <a href="https://{{ site.slack_username }}.slack.com">{{ site.slack_username }}</a>
        </li>
        {% endif %}

        {% if site.github_username %}
        <li>
          <i class="fa fa-github"></i> <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <i class="fa fa-twitter"></i> <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>
        </li>
        {% endif %}

        {% if site.facebook_username %}
        <li>
          <i class="fa fa-facebook-square"></i> <a href="https://facebook.com/{{ site.facebook_username }}">{{ site.facebook_username }}</a>
        </li>
        {% endif %}

        {% if site.googleplus_username %}
        <li>
          <i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/u/1/+{{ site.googleplus_username }}">{{ site.googleplus_username }}</a>
        </li>
        {% endif %}
        <li>
          <i class="fa fa-rss"></i> <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Feed RSS</a>
        </li>
      </ul>
    </div>

    <div class="col-md-offset-1 col-md-3">
      <p>
        Contribua.
        <br>
        <a href="https://github.com/HackerspaceBlumenau/hackerspaceblumenau.github.io/blob/master/{{ page.path }}" target="_blank">Edite esta página</a> no GitHub.
      </p>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"/>
      </a>
    </div>
  </div>
</footer>
