<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="Qocqrl9UezhVNEBHyXr3Q3ctvl1JLJOYwLYo77vY4oM" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name='keywords' content='hackerspace, blumenau'>
  <meta name='description' content='Grupo de Hackerspace do município de Blumenau'>
  <meta name='subject' content='Hackerspace Blumenau'>
  <meta name='copyright' content='Hackerspace Blumenau'>
  <meta name='language' content='pt'>
  <meta name='robots' content='index,follow'>
  <meta name='abstract' content='Grupo de Hackerspace do município de Blumenau'>
  <meta name='topic' content='Hackerspace'>
  <meta name='summary' content='O Hackerspace Blumenau visa ser um espaço comunitário, aberto e colaborativo com disponibilização de uma infraestrutura para realização de encontros, eventos, oficinas e projetos em diversas áreas relacionadas a tecnologia, visando sempre a troca de conhecimento.'>
  <meta name='Classification' content='Organization'>
  <meta name='author' content='Hackerspace Blumenau, contato@hackerspaceblumenau.org'>
  <meta name='designer' content='Hackerspace Blumenau, contato@hackerspaceblumenau.org'>
  <meta name='reply-to' content='contato@hackerspaceblumenau.org'>
  <meta name='owner' content='Hackerspace Blumenau'>
  <meta name='url' content='https://hackerspaceblumenau.github.io/'>
  <meta name='identifier-URL' content='https://hackerspaceblumenau.github.io/'>
  <meta name='directory' content='submission'>
  <meta name='pagename' content='Agenda, Apoio, Contato, O Espaço, Fotos, Sobre'>
  <meta name='category' content='technology'>
  <meta name='coverage' content='Worldwide'>
  <meta name='distribution' content='Global'>
  <meta name='rating' content='General'>
  <meta name='revisit-after' content='7 days'>
  <meta name='subtitle' content='Grupo de Hackerspace do município de Blumenau'>
  <meta name='target' content='all'>
  <meta name='HandheldFriendly' content='True'>
  <meta name='MobileOptimized' content='320'>
  <meta name='DC.title' content='Hackerspace Blumenau'>
  <meta name='ResourceLoaderDynamicStyles' content=''>
  <meta name='medium' content='site'>
  <meta name='syndication-source' content='https://github.com/HackerspaceBlumenau/hackerspaceblumenau.github.io'>
  <meta name='original-source' content='https://github.com/HackerspaceBlumenau/hackerspaceblumenau.github.io'>

  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/hacker.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
