html, body {
    width: 100%;
    height: 100%;
}

.container {
    min-height: 30%;
}

.social-list {
    list-style-type: none;
}

.post-meta {
    font-size: 12px;
}

.slackin {
    padding: 0;
}

.img-small {
    img {
        width: 200px;
    }
}

//
// Desktop
//

@media screen and (min-width: 768px) {
    .container {
        min-height: 70%;
    }
}
