---
layout: default
---
<article citemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ page.title }}</h1>
    {% if page.type == 'article' %}
    <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">Publicado em {{ page.date | date: "%d/%m/%Y" }}</time>
        {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </p>
    {% endif %}
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>
