<link rel="shortcut icon" href="{{ relURL `/images/logos/logo-64.png` }}">

<link rel="icon" href="{{ relURL `/images/logos/logo-32.png` }}" sizes="32x32">
<link rel="icon" href="{{ relURL `/images/logos/logo-64.png` }}" sizes="64x64">
<link rel="icon" href="{{ relURL `/images/logos/logo-144.png` }}" sizes="144x144">
<link rel="icon" href="{{ relURL `/images/logos/logo-192.png` }}" sizes="192x192">

<!--
<link rel="apple-touch-icon" sizes="72x72" href="{{ relURL `/images/logos/apple-touch-icon-72x72.png` }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ relURL `/images/logos/apple-touch-icon-114x114.png` }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ relURL `/images/logos/apple-touch-icon-144x144.png` }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ relURL `/images/logos/apple-touch-icon-180x180.png` }}">
<link rel="apple-touch-icon" sizes="192x192" href="{{ relURL `/images/logos/apple-touch-icon-192x192.png` }}">

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ relURL `/images/logos/apple-touch-icon-144-precomposed.png` }}">
<link rel="apple-touch-icon-precomposed" sizes="192x192" href="{{ relURL `/images/logos/apple-touch-icon-192-precomposed.png` }}">
-->

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#ffffff">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#ffffff">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!-- Microsoft EDGE -->
<meta name="msapplication-TileColor" content="#ffffff">
