<div class="mt-4">
  <h3 class="pb-2 border-bottom">Agenda</h3>
  <iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FSao_Paulo&amp;src=aGFja2Vyc3BhY2VibHVtZW5hdUBnbWFpbC5jb20&amp;src=cTFxbGYwYzJzYnFqNzZwaWo5YnN1MXRmYWJuczEzcWpAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%230B8043&amp;color=%23F09300&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA" style="border-width:0" width="300" height="300" frameborder="0" scrolling="no"></iframe>
</div>
